body{
    background-image: url(img/fundo\ preto.png);
    background-size:cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    margin: 0; 
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

